@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.ttf) format('truetype');
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 3.4rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}
p {
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
a {
    color: #DD3224;
}
.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5);
}
.show {
    opacity: 1;
    filter: blur(0);
}



/** HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2b2b2b;
}
.header_logo {
    position: fixed;
    z-index: 55;
    top: 0;
    left: 0;
}
.header_logo img {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 6em;
    width: 10%;
}
.menu ul {
    display: flex;
    margin-right: 6em;
    gap: 24px;
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.menu ul li a:hover {
    color: #DD3224;
}
.menu ul li a:active {
    color: #A7A5A5;
}

@media (max-width: 1028px) {
    .menu{
        display: none;
    }
}
@media (min-width: 1028px) {
    #menu-button {
        display: none;
    }
}
.header_link_icon {
    position: fixed;
    z-index: 55;
    top: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 6em;
}
#menu-button {
    width: 16px;
    height: 16px;
    position: relative;
}
#menu-button.open .mobile_link_icon_top {
    transform: translateY(8px);
    background-color: #ffffff;
}
#menu-button.open .mobile_link_icon_bottom {
    display: none;
}
.mobile_link_icon_top {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(3px);
}
.mobile_link_icon_bottom {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(12px);
}
#overlaymenu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #2b2b2b;
}
.overlymenu_line {
    position: absolute;
    top: 6%;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}
#overlaymenu ul{
    position: absolute;
    top: 10%; 
    list-style: none;
    padding-inline-start: 1em;
}
#overlaymenu ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
#overlaymenu ul a:hover{
    color: #DD3224;
}
.overlaymenu_pattern img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/** CARRUSEL IMG */
.carousel {
    position: relative;
    width: 100%;
    height: 100vh; /* Cambia esto según tus necesidades */
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    margin: 2em 6em 2em 6em;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: grid;
    align-items: flex-end;
}

.carousel-image:nth-child(1) {
    animation: slide 15s infinite;
}
.carousel-image:nth-child(2) {
    animation: slide 15s infinite 5s;
}
.carousel-image:nth-child(3) {
    animation: slide 15s infinite 10s;
}

@keyframes slide {
    0%, 33% { opacity: 1;}
    34%, 100% { opacity: 0;}
}
.carousel-container {
    padding: 6em;
    width: 40vh;
}

/** MAIN */
.main {
    margin: 2em 6em 2em 6em;
}
.hero_container {
    position: relative;
    background-image: url('assets/img/img_hero.jpg');
    background-position: bottom;
    background-size: cover;
    background-color: #2b2b2b;
    height: 80vh;
    padding: 6em;
}
.hero_container_body {
    position: absolute;
    bottom: 8%;
    width: 40%;
    text-align: justify;
}
.product_container {
    margin-top: 10em;
    margin-bottom: 10em;
}
.product_container_body {
    display: flex;
    justify-content: space-between;
}
.products_section
{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}
.product_container_text {
    width: 50%;
}
.product {
    width: 30%;
}
.product_img_mad {
    width: 100%;
    height: 30em;
    background-image: url('assets/img/product_mad.png');
    background-position: center;
    background-size: cover;
    background-color: #A7A5A5;
}
.product_img_met {
    width: 100%;
    height: 30em;
    background-image: url('assets/img/product_met.png');
    background-position: center;
    background-size: cover;
    background-color: #A7A5A5;
}
.product_img_apl {
    width: 100%;
    height: 30em;
    background-image: url('assets/img/product_apl.png');
    background-position: center;
    background-size: cover;
    background-color: #A7A5A5;
}
.company_container {
    position: relative;
    background-image: url('assets/img/img_company.jpg');
    background-position: center;
    background-size: cover;
    background-color: #2b2b2b;
    height: 60vh;
    margin-top: 10em;
    margin-bottom: 10em;
    padding: 2em;
}
.company_container_body {
    position: absolute;
    bottom: 5%;
}
.services_container{
    margin-top: 10em;
    margin-bottom: 10em;
}
.services_section {
    margin-top: 2em;
    margin-bottom: 2em;
}
.service {
    display: flex;
    justify-content: space-between;
}
.service_title {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.service_title_number {
    width: 20%;
}
.service_title_text {
    width: 60%;
}
.contact_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
}
.news_container {
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 4em;
}
.news_container_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
}
.new1 { grid-area: 1 / 1 / 2 / 2; }
.new2 { grid-area: 1 / 2 / 2 / 3; }
.new3 { grid-area: 1 / 3 / 2 / 4; }

.new_img1 {
    height: 38vh;
    width: 100%;
    background-image: url(assets/img/new_post_1.png);
    background-position: center;
    background-size: cover;
}
.new_img2 {
    height: 38vh;
    width: 100%;
    background-color: #2b2b2b;
    background-image: url('assets/img/Diatec-9\ 1.png');
    background-position: center;
    background-size: cover;
}
.new_img3 {
    height: 38vh;
    width: 100%;
    background-color: #2b2b2b;
    background-image: url('assets/img/hero_page.jpg');
    background-position: center;
    background-size: cover;
}
.line {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 8px;
    background-color: #DD3224;
}
.line_photo {
    width: 100%;
    height: 8px;
    background-color: #DD3224;
}

/** FOOTER */

footer {
    background-color: #2b2b2b;
    padding-top: 2em;
    padding-right: 6em;
    padding-left: 6em;
    height: 30vh;
}
.footer_body {
    display: flex;
    justify-content: space-between;
}
.footer_logo {
    width: 50%;
}
.footer_logo img{
    width: 6%;
}
.footer_copyright,
.footer_social,
.footer_info, 
.footer_direction {
    width: 10%;
}
.footer_social a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
footer p {
    color: #ffffff;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
.sub_footer {
    background-color: #2b2b2b;
    padding-right: 6em;
    padding-left: 6em;
    padding-bottom: 2em;
}
.footer_body li {
    list-style: none;
}
.footer_body li a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.footer_body a:hover {
    color: #DD3224;
}

/** PAGES */

.page_header_hero_img {
    width: 100%;
    height: 20em;
    background-color: #2b2b2b;
}
.page_header_hero_body {
    width: 55%;
    margin-bottom: 14em;
}

/** PRODUCT PAGE */
.product_header_hero_img {
    width: 100%;
    height: 25em;
    background-image: url('assets/img/hero_page.jpg');
    background-size: cover;
    background-color: #2b2b2b;
}
.product_img {
    width: 100%;
    height: 42em;
    background-image: url('assets/img/llantas.png');
    background-size: cover;
    background-position: center;
    background-color: #2b2b2b; 
}
/** COMPANY PAGE */
.company_section {
    margin-bottom: 16em;
}
.company_header_hero_img {
    width: 100%;
    height: 25em;
    background-image: url('assets/img/hero_page.jpg');
    background-size: cover;
    background-color: #2b2b2b;
}
.company_img{
    width: 100%;
    height: 40em;
    background-image: url('assets/img/img_company.jpg');
    background-size: cover;
    background-position: center;
    background-color: #2b2b2b;
}
.company_body {
    display: flex;
    justify-content: space-between;
}
.company_body h4 {
    width: 45%;
}

/** SERVICE PAGE */

.services_header_hero_img {
    width: 100%;
    height: 25em;
    background-image: url('assets/img/hero_page.jpg');
    background-size: cover;
    background-color: #2b2b2b;
}
.service_img{
    width: 100%;
    height: 42em;
    background-image: url('assets/img/Aspas.png');
    background-size: cover;
    background-position: center;
    background-color: #2b2b2b;
}
.sub_img_text {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
}
.service_body {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.service_body_text {
    width: 60%;
}
.service_body_button {
    width: 15%;
}

/** CONTACT PAGE */

.contact_header_hero_img {
    width: 100%;
    height: 25em;
    background-image: url('assets/img/hero_page.jpg');
    background-size: cover;
    background-color: #2b2b2b;
}
.contact_header_hero_body {
    display: flex;
    justify-content: space-between;
}
.contact_container_body {
    width: 40%;
}
.contact_page_title {
    width: 60%;
}
.contact_page_mail,
.contact_page_direction {
    width: 10%;
}
.contact_page_mail a {
    color: #111111;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.contact_page_mail a:hover {
    color: #DD3224;
}
.page_header_hero {
    margin-bottom: 44vh;
}



/* BUTTONS */
.container_button {
  align-items: center;
  background-color: #ffffff;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #111111;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.container_button:hover { 
  background-color: #DD3224;
  color: #2b2b2b;
}

.container_button:active {
  background: #DD3224;
  color: #2b2b2b;
}

.container_button a {
    color: #111111;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.button a {
    color: #A7A5A5;
    font-family: 'Montserrat', sans-serif;
}
.button a:hover,
.button a:focus {
    color: #DD3224;
    font-family: 'Montserrat', sans-serif;
}

.whastapp-icon:hover {
    transform: scale(1.2);
}
.hidden2 {
    opacity: 0;
    transition: all 1s;
    filter: blur(5);
    position: fixed;
    bottom: 5em;
    right: 6em;
    z-index: 99;
}
.show2 {
    opacity: 1;
    filter: blur(0);
}



@media (max-width: 1028px) {
    h1 {
        font-size: 2.4rem;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    h2 {
        font-size: 1.6rem;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    h3 {
        font-size: 1.2rem;
        margin-block-start: 0.8em;
        margin-block-end: 0.8em;
    }
    h4 {
        font-size: 0.8rem;
        margin-block-start: 0.8em;
        margin-block-end: 0.8em;
    }
    p {
        margin-block-start: 0.4em;
        margin-block-end: 1em;
    }
    .header_logo img {
        padding-left: 1em;
    }
    .header_link_icon {
        padding-right: 1em;
    }
    .main {
        margin: 2em 1em 2em 1em;
    }
    .hero_container {
        padding: 1em;
    }
    .hero_container_body {
        width: 60%;
        text-align: left;
    }
    .product_container_body {
        display: block;
    }
    .products_section {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    }
    .product_img_mad {
        height: 20em;
    }
    .product_img_met {
        height: 20em;
    }
    .product_img_apl {
        height: 20em;
    }
    .product_container_text {
        width: 100%;
    }
    .product {
        width: 100%;
    }
    .service {
        display: block;
    }
    .service_title {
        display: block;
        width: 90%;
    }
    .service_title_number {
        width: 100%;
    }
    .service_title_text {
        width: 100%;
    }
    .service_body {
        width: 90%;
        display: block;
    }
    .contact_container {
        display: block;
    }
    .contact_container_body {
        width: 90%;
    }
    .product_header_hero_img {
        height: 14em;
        background-position: right;
    }
    .company_header_hero_img {
        height: 14em;
        background-position: right;
    }
    .services_header_hero_img {
        height: 14em;
        background-position: right;
    }
    .contact_header_hero_img {
        height: 14em;
        background-position: right;
    }
    .page_header_hero_body {
        width: 90%;
    }
    .product_img {
        width: 100%;
        height: 24em;
        background-image: url('assets/img/llantas.png');
        background-size: cover;
        background-position: center;
        background-color: #2b2b2b; 
    }
    .company_img{
        height: 24em;
        background-position: center;
    }
    .company_body {
        display: block;
    }
    .company_body h4 {
        width: 90%;
    }
    .service_img{
        height: 24em;
    }
    .sub_img_text {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 90%;
    }
    .service_body_text {
        width: 90%;
    }
    .service_body_button {
        width: 15%;
    }
    .news_container {
        text-align: left;
    }
    .news_container_body {
        display: block;
    }
    .contact_header_hero_body {
        display: block;
    }
    .contact_container_body {
        width: 90%;
    }
    .contact_page_title {
        width: 90%;
    }
    .contact_page_mail,
    .contact_page_direction {
        width: 50%;
    }
    .page_header_hero {
        margin-bottom: 44vh;
    }
    footer {
        padding-right: 1em;
        padding-left: 1em;
        height: 30vh;
    }
    .footer_body {
        display: block;
    }
    .footer_logo {
        width: 90%;
    }
    .footer_logo img{
        width: 10%;
    }
    .footer_copyright,
    .footer_social,
    .footer_info, 
    .footer_direction {
        width: 90%;
    }
    .sub_footer {
        padding-top: 3em;
        padding-right: 1em;
        padding-left: 1em;
    }
    .hidden2 {
        opacity: 0;
        transition: all 1s;
        filter: blur(5);
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 90;
    }
    .show2 {
        opacity: 1;
        filter: blur(0);
    }
    .carousel-image {
        margin: 2em 0em 2em 0em;
        width: 100%;
    }
    .carousel-container {
        padding: 2em;
        width: 40vh;
    }
}
