
body {
    background-color: #ffffff;
    color: #23232c;
    font-family: 'Google Sans', sans-serif;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 54px;
    margin: 0%;
    font-weight: 400;
}
h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0%;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0%;
}
h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0%;
}
p {
    font-size: 16px;
    color: #70757a;
    margin: 0%;
}
section {
    position: relative;
}
.margin {
    margin-top: 10%;
}
.container {
    position: relative;
    display: block;
    margin: 2% 10% 2% 10%;
    text-align: center;
}
.about-container {
    position: relative;
    display: flex;
    margin: 2% 10% 2% 10%;
    justify-content: space-between;
}
.about-body {
    position: relative;
    width: 40%;
}
.about-subtitle h2 {
    color: #70757a;
}
.container-img {
    position: relative;
    margin: 0 10% 4% 10%;
}
.hero-img {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/services2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.company-img {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/company2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.company-img2 {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/company.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.services-img {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)), 
    url("assets/services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.services-img2 {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/services2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quality-img {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/quality.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.technology-img {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.industries-img {
    min-height: 70vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.img-industries1 {
    min-height: 60vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/maquina-herramienta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.img-industries2 {
    min-height: 60vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/aeronautica.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.img-industries3 {
    min-height: 60vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/energy2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.img-industries4 {
    min-height: 60vh;
    background-color: #c9c9c9;
    border-radius: 35px;
    padding: 4vh;
    color: #ffffff;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/ferrocarril.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.paragraph {
    position: absolute;
    bottom: 2vh;
    width: 50%;
}
.personal-button {
  align-items: center;
  background-color: #e39b2e;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  height: 60px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}
.personal-button:hover,
.personal-button:focus { 
  background-color: #f2f4f7;
  color: #ffffff;
  transition: 1s;
}
.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5);
}
.show {
    opacity: 1;
    filter: blur(0);
}
.footer {
    position: relative;
    background-color: #23232c;
    padding: 2vh 0 2vh 0;
}
.footer-logo{
    position: relative;
    padding: 2% 0% 2% 0%;
    margin: 0% 10% 0% 10%;
    font-size: 20px;
    color: #ffffff;
}
.footer-section {
    position: relative;
    display: flex;
    margin: 0 10% 0% 10%;
    justify-content: space-between;
}
.footer-menu {
    position: relative;
    display: flex;
}
.footer-menu-column {
    position: relative;
    margin-right: 20vh;
    padding: 0%;
}
.footer-menu-column li {
    list-style: none;
}
.footer-menu-column ul {
    padding: 0;
}
.footer-menu-column a {
    text-decoration: none;
    color: #ffffff;
}
.social-icon-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social-icon {
    margin-right: 1vh;
}
.social-icon a {
    text-decoration: none;
}
.social-icon-container .uil {
    font-size: 36px;
    color: #ffffff;
}
.social-icon-container .uil:hover {
    opacity: 0.5;
    transition: 1s;
}
.footer-line {
    position: relative;
    margin: 2% 10% 0% 10%;
    padding-bottom: 2%;
}
.line2 {
    height: 1px;
    background-color: #ffffff;
    margin-top: 2%;
    margin-bottom: 1%;
}
.copyright p {
    font-size: 12px;
    color: #ffffff;
}
.swiper-container {
    height: 100%;
    overflow: hidden;
  }
.swiper-slide {
    text-align: start;
    background-color: #e5e5e5;
    align-items: flex-start;
    border-radius: 35px;
}
.slide-body {
    position: relative;
    padding: 4vh;
}
.swiper-slide-img1 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/maquina-herramienta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-slide-img2 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/aeronautica.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-slide-img3 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/energy2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-slide-img4 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.301), rgba(218, 111, 39, 0.11)),
    url("assets/ferrocarril.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-container {
    height: 60vh;
    margin: 0% 10% 0% 10%;
}
.swiper-footer {
    position: relative;
    display: flex;
    margin: 2% 10% 2% 10%;
    justify-content: space-around;
    align-items: flex-end;
}
.swiper-button-container {
    position: absolute;
    right: 0%;
    justify-content: space-between;
    min-width: 6%;
}
.swiper-buttons-next {
    position: relative;
    align-items: center; 
    background-color: #e5e5e5; 
    border: 0; 
    border-radius: 100px; 
    box-sizing: border-box; 
    color: #ffffff; 
    cursor: pointer; 
    display: inline-flex; 
    justify-content: center;
    font-size: 10px; 
    line-height: 20px; 
    height: 60px; 
    width: 60px; 
    overflow: hidden; 
    padding: 0px; 
    padding-left: 20px; 
    padding-right: 20px; 
    text-align: center; 
    touch-action: manipulation; 
    user-select: none; 
    -webkit-user-select: none; 
    vertical-align: middle; 
    text-decoration: none;  
}
.swiper-buttons-next:hover { 
  background-color: #e39b2e;
  color: #ffffff;
  transition: 1s; 
}
.swiper-buttons-prev {
    position: relative;
    align-items: center; 
    background-color: #e5e5e5; 
    border: 0; 
    border-radius: 100px; 
    box-sizing: border-box; 
    color: #ffffff; 
    cursor: pointer; 
    display: inline-flex; 
    justify-content: center;
    font-size: 10px; 
    line-height: 20px; 
    height: 60px; 
    width: 60px; 
    overflow: hidden; 
    padding: 0px; 
    padding-left: 20px; 
    padding-right: 20px; 
    text-align: center; 
    touch-action: manipulation; 
    user-select: none; 
    -webkit-user-select: none; 
    vertical-align: middle; 
    text-decoration: none; 
}
.swiper-buttons-prev:hover { 
  background-color: #e39b2e;
  color: #ffffff;
  transition: 1s; 
}
.uil-angle-left-b,
.uil-angle-right-b{
    color: #e39b2e;
    font-size: 3.5em;
}
.uil-angle-right-b:hover,
.uil-angle-left-b:hover {
    color: #ffffff;
}
.title h3 {
    color: #ffffff;
    font-weight: 400;
}
.subtitle {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 1.5px solid #ffffff;
    border-radius: 100px;
    color: #ffffff;
    line-height: 20px;
    min-height: 32px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2vh;
}
.section-button {
    position: absolute;
    bottom: 2vh;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    background-color: #e39b2e;
    color: #ffffff;
    line-height: 20px;
    min-height: 50px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 20px;
    font-weight: 400; 
}
.section-button:hover {
    background-color: #ffffff;
    color: #70757a;
    transition: 1s;
}
.technology-container {
    position: relative;
    display: inline-flex;
    margin: 2% 10% 2% 10%;
    justify-content: space-around;
}
.page-title-container {
    position: relative;
    display: block;
    margin: 10% 10% 2% 10%;
}
.page-subtitle {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 1.5px solid #23232c;
    border-radius: 100px;
    color: #23232c;
    line-height: 20px;
    min-height: 32px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2vh;
}
.text-body-container {
    position: relative;
    display: block;
    margin: 2% 10% 2% 10%;
}
.text-body {
    position: relative;
    width: 60%;
}
.text-body-container2 {
    position: relative;
    display: flex;
    margin: 8% 10% 2% 10%;
    justify-content: space-between;
}
.title-body {
    position: relative;
    width: 20%;
}
.subtitle-body {
    position: relative;
    width: 60%;
    color: #70757a;
}
.contact-title {
    position: relative;
    width: 50%;
}
.contact-body {
    position: relative;
    margin-bottom: 10%;
}
.text-body-container2 a {
    color: #23232c;
}
.grid-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0% 2%;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-item grid-item grid-item grid-item";
    margin: 2% 10% 2% 10%;
}
.grid-container .uil {
    font-size: 10vh;
    color: #e39b2e;
}
.item {
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #f2f4f7;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}
.item-text {
    position: relative;
    display: flex;
    margin: 2vh;
    justify-content: center;
    align-items: center;
    color: #70757a;
}
.paragrahp-container {
    margin: 4% 14% 0 14%;
    color: #70757a;
}
.services-container {
    position: relative;
    display: flex;
    margin: 2% 10% 2% 10%;
}
.quality-container {
    position: relative;
    margin-right: 8vh;
}
.quality-container-number {
    color: #70757a;
}
.quality-container-title {
    margin-bottom: 2vh;
}
.line {
    height: 1px;
    background-color: #70757a;
    opacity: 0.3;
}
.technology-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.technology-title,
.machine-name,
.machine-def,
.machine-exp {
    width: 20%;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    display: flex;
    margin: 0 10% 0 10%;
    padding: 1vh 0 1vh 0;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .logo {
    position: relative;
    color: #2B2B2B;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
  .topnav ul {
    display: flex;
    list-style: none;
  }
  .topnav ul li{
    font-size: 24px;
    padding: 0vh 4vh 0vh 0;
  }
  .topnav a {
    text-decoration: none;
    color: #2B2B2B;
    text-align: center;
  }
  .nav-contact a {
    font-size: 24px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #c9c9c9;
  }
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: #c9c9c9;
  }
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .line-nav {
    display: none;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 1140px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: block;
    }
    .topnav ul {
        display: none;
    }
    .nav-contact {
        display: none;
    }
    .topnav {
        margin: 0 2% 0 2%;
      }
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1140px) {
    .topnav.responsive {
        position: relative;
        background-color: #e39b2e;
        height: 100vh;
        margin: 0%;
    }
    .topnav.responsive a.icon {
        position: absolute;
        top: 1vh;
        right: 2%;
    }
    .topnav.responsive ul {
      position: absolute;
      top: 14vh;
      left: 2%;
      display: block;
      padding: 0;
    }
    .topnav.responsive ul li a {
        font-size: 42px;
        color: #ffffff;
      }
    .topnav.responsive .logo {    
      position: absolute;
      top: 1vh;
      left: 2%;
      color: #ffffff;
      }
    .nav-contact {
        position: absolute;
        bottom: 14vh;
        left: 2%;
        display: block
    }
    .nav-contact a {
        font-size: 42px;
        color: #ffffff;
    }
    .line-nav {
        position: absolute;
        top: 14vh;
        height: 1px;
        width: 100%;
        background-color: #ffffff;
        display: block;
      }
  }
  .fa-fa-bar {
    display: inline-block;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 1px;
    background-color: #2B2B2B;
    margin: 4px 0;
  }
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 3px) ;
    transform: rotate(-45deg) translate(-4px, 3px) ;
    background-color: white;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    background-color: white;
    -webkit-transform: rotate(45deg) translate(-4px, -3px) ;
    transform: rotate(45deg) translate(-4px, -3px) ;
  }




  @media screen and (max-width: 820px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    .container {
        margin: 2% 2% 2% 2%;
    }
    .about-logo {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .about-container {
        display: block;
        margin: 2% 2% 2% 2%;
    }
    .about-body {
        width: 65%;
    }
    .container-img {
        margin: 0 2% 4% 2%;
    }
    .footer {
        position: relative;
        background-color: #23232c;
    }
    .footer-logo{
        position: relative;
        padding: 2% 0% 2% 0%;
        margin: 0% 2% 0% 2%;
        font-size: 16px;
        color: #ffffff;
    }
    .footer-section {
        position: relative;
        display: block;
        margin: 0 2% 0% 2%;
        justify-content: space-between;
    }
    .footer-menu {
        position: relative;
        display: flex;
    }
    .footer-menu-column {
        margin-right: 5vh;
    }
    .social-icon-container {
        display: flex;
        justify-content: flex-start;
    }
    .social-icon {
        margin-right: 1vh;
    }
    .social-icon a {
        text-decoration: none;
    }
    .social-icon-container .uil {
        font-size: 24px;
        color: #ffffff;
    }
    .footer-line {
        position: relative;
        margin: 2% 2% 0% 2%;
        padding-bottom: 2%;
    }
    .copyright p {
        font-size: 8px;
        color: #ffffff;
    }
    .swiper-container {
        height: 44vh;
        margin: 0% 2% 0% 2%;
    }
    .swiper-footer {
        position: relative;
        display: flex;
        margin: 10% 2% 10% 2%;
        justify-content: space-around;
        align-items: flex-end;
    }
    .swiper-button-container {
        display: none;
    }
    .slide-body {
        padding: 2vh;
    }
    .technology-img {
        background-position: center;
    }
    .margin {
        margin-top: 20%;
    }
    .technology-container {
        position: relative;
        display: inline-flex;
        margin: 2% 10% 2% 10%;
        justify-content: space-around;
    }
    .page-title-container {
        margin: 20% 2% 2% 2%;
    }
    .text-body-container {
        position: relative;
        display: block;
        margin: 2% 2% 2% 2%;
    }
    .text-body {
        position: relative;
        width: 100%;
    }
    .text-body-container2 {
        display: block;
        margin: 8% 2% 2% 2%;
    }
    .title-body {
        width: 60%;
        margin-bottom: 8%;
    }
    .subtitle-body {
        width: 100%;
    }
    .grid-container {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0% 2%;
        grid-auto-flow: row;
        grid-template-areas:
          "grid-item" 
          "grid-item "
          "grid-item"
          "grid-item";
        margin: 2% 10% 2% 10%;
    }
    .services-container {
        display: block;
        margin: 2% 2% 2% 2%;
    }
    .quality-container {
        margin-right: 0vh;
        margin-bottom: 4vh;
    }
    .quality-container-title {
        margin-bottom: 1vh;
    }
    .technology-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
    }
    .technology-title,
    .machine-name,
    .machine-def,
    .machine-exp {
        width: 20%;
        margin: 1vh;
    }
    .technology-container h3 {
        font-size: 14px;
    }
    .technology-container p {
        font-size: 10px;
    }
    .section-button {
        min-height: 42px;
        padding-left: 38px;
        padding-right: 38px;
    }
    .img-industries1 {
        background-position: center;
    }
    .img-industries2 {
        background-position: center;
    }
    .img-industries3 {
        background-position: center;
    }
    .img-industries4 {
        background-position: center;
    }
    .industries-img {
        background-position: center;
    }
    .hero-img {
        min-height: 60vh;
    }
    .company-img {
        min-height: 70vh;
    }
    .company-img2 {
        min-height: 60vh;
    }
    .services-img {
        min-height: 60vh;
    }
    .services-img2 {
        min-height: 60vh;
    }
    .quality-img {
        min-height: 60vh;
    }
    .technology-img {
        min-height: 60vh;
    }
    .industries-img {
        min-height: 60vh;
    }
    .contact-title {
        width: 100%;
        margin-bottom: 10%;
    }
}